<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Import basic SpringMVC Resteasy integration -->
    <import resource="classpath:springmvc-resteasy.xml"/>
    
	<context:annotation-config />
	<context:component-scan base-package="es.us.isa" />

    <bean id="resolveResource" class="es.us.isa.cristal.web.ResolveResource"></bean>
	<bean id="raci2bpmnResource" class="es.us.isa.cristal.web.Raci2BpmnResource"/>
	<bean id="repositoryResource" class="es.us.isa.cristal.web.RepositoryResource">
<!-- 		<property name="directory" value="/Users/resinas/Sandbox/signavio"/> -->
		<property name="directory" value="/var/lib/tomcat6/cristal"/>
<!-- 		<property name="resourcesDirectory" value="/Users/resinas/Sandbox/signavio-res"/> -->
		<property name="resourcesDirectory" value="/var/lib/tomcat6/cristal-raci"/>
		<property name="editorUrl" value="http://labs.isa.us.es:8080/signaviocore"/>
	</bean>

	<!-- <bean id="customerBo" class="isa.CustomerRepositoryImpl"> -->
	<!-- </bean> -->

</beans>